.auth-form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}
.form-control label,
.form-control input {
  width: 100%;
  display: block;
  color: var(--text-on-primary);
}

.form-control input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary);
}

.form-control input:focus {
  border: none;
  border-bottom: 1px solid var(--primary-dark);
}

.form-control {
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-actions button {
  background-color: var(--secondary);
  font: inherit;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: var(--text-on-primary);
  cursor: pointer;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.form-actions button:hover,
.form-actions button:active {
  background-color: var(--secondary-dark);
  border-color: var(--secondary-dark);
}