.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background: var(--primary);
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.main-navigation__logo h1 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--text-on-primary);
  width: 150px;
}
.main-navigation__item {
  width: 100%;
  margin-left: auto;
}

.main-navigation__item ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 1rem 0 0;
  align-items: center;
  justify-content: right;
}

.main-navigation__item li {
  margin: 0 1rem;
}

.main-navigation__item a,
.main-navigation__item button {
  text-decoration: none;
  color: var(--text-on-primary);
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
}

.main-navigation__item a:hover,
.main-navigation__item a:active,
.main-navigation__item a.active,
.main-navigation__item button:hover,
.main-navigation__item button:active,
.main-navigation__item button.active {
  color: var(--secondary-dark);
}
